body {
    background: #373737;
    color: rgb(255, 255, 255);
    text-align: center;
}
a{color: rgb(255, 255, 255);font-size: 15px;text-decoration: none;}
a:hover{color: rgb(0, 255, 187);}
.getAll{background: #6c6c6c;}
.getAll:hover{background: #727272;}
.space{margin: 10px 0;}
table,th,tr,td{border: 1px solid gray;}
table{width: 800px;margin: 0 auto;}
.navigate{display: flex;justify-content: center;}
.navigate a{margin: 0 15px;}
.home{font-size: 55px;}